html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videoStyle {
  min-width: 100%;
}

/* ************************ */
/* CHAKRA UI REMOVE OUTLINE */
/* ************************ */

.disableFocus:focus {
  box-shadow: none !important;
}

.disableFocus[data-focus] {
  box-shadow: none !important;
}

@media only screen and (max-width: 800px) {
  .videoStyle {
    min-width: 400%;
  }
}


@media only screen and (max-width: 400px) {
  .videoStyle {
    min-width: 370%;
  }
}